.footer {
  background-color: var(--grey-light-1);
  display: grid;
  padding: 5rem 10rem;

  grid-template-columns: repeat(auto-fit, minmax(30rem, max-content));

  &__medias_col,
  &__links_col {
    list-style: none;
  }

  &__logo_col {
  }

  &__links_col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      color: var(--black);
      font-weight: 500;
      text-decoration: none;
      font-size: var(--fs-s);
    }
    &:hover,
    &:active {
      color: var(--black-light-2);
    }
  }

  &__medias_col {
    display: flex;
    gap: 1rem;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }
}
