.sidebar {
  min-width: 25rem;
  // background-color: orangered;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__heading {
    background-color: var(--blue-dark);
    padding: 1.2rem 1.5rem;
    font-size: var(--fs-x);
    color: var(--white);
    font-weight: 500;
    text-transform: uppercase;
  }

  &__category {
    padding: 0.8rem 1.5rem;
    background-color: var(--grey-light-1);
    font-size: var(--fs-s);
    cursor: pointer;

    h4 {
      font-weight: 500;
    }
  }
}
