.navbar {
  padding: 2.5rem 0;

  a {
    text-decoration: none;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logoBox {
    width: 6rem;
  }

  &__logo {
    display: block;
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: var(--default-fs);
  }

  &__link {
  }

  &__authentication {
    display: flex;
    gap: 2rem;
  }

  &__link,
  &__login,
  &__register {
    &:link,
    &:visited {
      color: var(--black);
      font-weight: 500;
      text-transform: uppercase;
    }
    &:hover,
    &:active {
      color: var(--black-light-2);
    }
  }

  &__login {
  }

  &__register {
  }
}
