.navbar {
  padding: 2.5rem 0;

  a {
    text-decoration: none;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logoBox {
    width: 6rem;
    cursor: pointer;
  }

  &__logo {
    display: block;
  }

  &__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: var(--default-fs);
  }

  &__link {
    display: block;
  }

  &__authentication {
    display: flex;
    gap: 2rem;
  }

  &__link,
  &__login,
  &__register,
  &__account {
    &:link,
    &:visited {
      color: var(--black);
      font-weight: 500;
      text-transform: uppercase;
    }
    &:hover,
    &:active {
      color: var(--black-light-2);
    }
  }

  &__login {
  }

  &__register {
  }

  &__cart {
    position: relative;
    cursor: pointer;
    display: flex;

    // justify-content: center;
  }
  &__cartQty {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -50%;
    right: -60%;

    border-radius: 200px;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--fs-s);
    color: var(--white);
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  &__accountBox {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__account {
    text-transform: uppercase;
  }
  &__signout {
    padding: 1rem;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 2px solid var(--red);
  }
}
