html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* position: relative; */
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::selection {
  background: var(--blue-dark);
  color: var(--white);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  /* COLOR */
  --blue: #08d9d6;
  --blue-light: #39e1de;
  --blue-dark: #06aeab;

  --red: #ff2e63;
  --red-light: #ff5882;
  --red-light-2: #ffc0d0;
  --red-dark: #cc254f;

  --green: #59ce8f;

  /* for Font color --black */
  --black: #252a34;
  --black-light: #51555d;
  --black-light-2: #666a71;
  --black-light-3: #d3d4d6;
  --black-dark: #1e222a;

  --grey-light-1: #eaeaea;
  --grey-light-2: #eeeeee;
  --grey-light-3: #f7f7f7;
  /* 
  --grey-dark-1: #5c5c5c;
  --grey-dark-2: #474747;
  --grey-dark-3: #333; */

  --white: #fff;

  /* FONT */
  --ff-title: serif;

  --fs-ss: 1.2rem;
  --fs-s: 1.6rem;
  --default-fs: 1.8rem;
  --fs-x: 2rem;
  --fs-xl: 2.4rem;
  --fs-xxl: 3.5rem;
  --fs-xxxl: 4.5rem;

  /* MARGIN */
  --mb-ss: 0.5rem;
  --mb-s: 1rem;
  --mb-m: 2.5rem;
  --mb-x: 5rem;
  --mb-xl: 8rem;
  --mb-xxl: 9rem;

  /* PADDING */

  /* BOX SHADOW */
  --box-shadow-s: 0 0.5rem 5rem rgba(0, 0, 0, 0.1);
  --box-shadow-m: 0 1rem 5rem rgba(0, 0, 0, 0.15);

  /* BORDER RADIUS */
  --br-m: 5px;
  --br-x: 12px;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 14px;
}

/* <a> button */
.btn:link,
.btn:visited {
  display: inline-block;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: var(--fs-x);
  font-weight: 700;
  color: var(--black-light-3);
  letter-spacing: 8px;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  color: var(--black);
}
