.mobileSideBar {
}

.mobileSideBar__closeBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.mobileSideBar__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: var(--fs-xl);
  list-style: none;
  margin: auto 0;
}

.mobileSideBar__item {
}

.mobileSideBar__link {
  text-decoration: none;
  text-transform: uppercase;
}

.sidebar--active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}
